:root {
    --primary-color: rgb(0, 204, 255);
    --primary-color-dark: #153a7f;
    --secondary-color:   #df5466;
    --secondary-color-dark: #ca0c5b;
    --gray-color: #66564d;
    --gray-color-dark: #1b1614;
    }