:root {
    --primary-color: #4CB963;
    --primary-color-dark: #157F1F;
    --secondary-color:   #A1869E;
    --secondary-color-dark: #5C6784;
    --gray-color: #D6CFCB;
    --gray-color-dark: #CCB7AE;
    }