html, body{
    background-color: rgb(238, 230, 230);
    margin: 0;
    padding: 0;
    font-family: "IBMPlexMono-BoldItalic", Arial, Helvetica, sans-serif ;
}

#container {
max-width: 700px;
margin: 0 auto;
}

.text-secondary{
    color: var(--secondary-color);
    }