@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}
@font-face {
    font-family: "IBMPlexMono-BoldItalic";
    src: url("../fonts/IBMPlexMono-BoldItalic.ttf");
}